@model CompanyRegristry.Models.ViewModels.CompaniesContactsVM
@{
    ViewData["Title"] = "CompanyContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompanyContact</h2>

<p>@Model.ContactName</p>

<a asp-controller="home" asp-action="index">Tillbaka</a>

