@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyRegristry.Models.ViewModels.CompaniesIndexVM[]
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Välkommen till startsidan!</h1>


<p>Sida för att lista företag och kontaktpersoner</p>


<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="home" asp-action="index" asp-route-id="@item.Id">@item.Name</a>
           
        </li>
    }
</ul>


