@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CompanyRegristry.Models.Company[]
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Välkommen till startsidan!</h1>


<p>Sida för att lista företag och kontaktpersoner</p>

@*<h2>Lista på företag (@Model.Length)</h2>
<ul>
    @foreach (var item in Model)
    {
    <li>
        @item.Name
    </li>

    }
</ul>*@


