@model CompanyRegristry.Models.Company 
@{
    ViewData["Title"] = "Företag";
}
<h2>@ViewData["Title"]</h2>


<p>Sida för att skapa/redigera/ta bort företag</p>

<h2>@Model.Name</h2>
<h3>Här kan du:</h3>

<div>
    <p> <a asp-controller="companies" asp-action="create">Lägg till företag</a></p>
    <p><a asp-controller="companies" asp-action="company">Ta bort företag</a></p>
    <p> <a asp-controller="companies" asp-action="company">Redigera företag</a></p>

</div>
